<h1>AngularJS/Angular Hybrid App</h1>
<h3>Angular Reactive Forms Input Component</h3>
<app-name-input (firstname)="onFirstnameUpdated($event)" (lastname)="onLastnameUpdated($event)"></app-name-input>
<hr>
<h3>AngularJS Legacy Component</h3>
<legacy-name-output [firstname]="firstname" [lastname]="lastname"></legacy-name-output>
<hr>
<h3>Angular Component</h3>
<app-name-output [firstname]="firstname" [lastname]="lastname"></app-name-output>
<br>
<p>I used Angular CLI to create a new Angular 10 project, then added necessary
  configurations and bootstrapping to use AngularJS components.</p>
